<div>
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date date_posted}}</p>
</div>

<div>
  <form class='new-comment-form' data-id={{id}}>
    <div>
      <textarea id='comment-content' name='comment-body' placeholder='Enter your comment here'></textarea>
    </div>
    <div>
      <button type='submit'>Add Comment</button>
    </div>
  </form>
</div>

{{#if comments.length}}
  <div>
    <h2>Comments</h2>
    {{#each comments as |comment|}}
      <div>
        <p>{{comment.content}}</p>
        <p>Comment posted by {{comment.user.username}} on {{format_date date_posted}}</p>
      </div>
    {{/each}}
  </div>
{{/if}}

<script src='/js/comment.js'></script>